* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  margin: 0;
}


.top {
  display: flex;
  justify-content: left;
  align-items: left;
  width: 100%;
  height: 70px;
  background-image: linear-gradient(rgb(177, 177, 177), rgb(79, 79, 79));
}


.top-left {
    background-color: #6b6b6b;
    color: rgb(3, 3, 3);
    padding: 20px 20px;
    text-align: center;
    margin: 10;
    
    
}

.top-right {
    display: flex;
    justify-content:flex-end;
    align-items:center;
    width: 100%;
    
    

}

.top-right div {
    background-color: rgb(0, 0, 0, 0.3);
    margin: 10px;
    padding: 7px;
    text-align:center;
    font-size: 15px;
    color: #ffffff;
    height: 30px;
    
}

.main {
  width: 100%;
  background-color: rgb(153, 120, 247);
}

.hero {

  height: 400px;
  width: 400px;
  background-image: url("image.png");
  background-size: contain;
  background-position: center;
  
}


.button {
  width: 120px;
  height: 100%;
  background-color: rgb(203, 164, 130);
  margin: 2px;
}

.button:hover {
  background-color: rgb(27, 49, 137);
}

.top-banner {
  background-image: linear-gradient(rgb(180, 175, 175), rgb(38, 38, 38));
  width: 100%;
  height: 5000px;
}

.column-container {
  width: 100%;
  height: 1000px;
  display: flex;
}

.column {
  width: 50%;
  height: 100%;
  background-color: #f6ff00;
}

.column:hover {
  background-color: #65e0bb;
}

.contact {
  width: 100%;
  height: 300px;
  background-color: #ffedba;
}

.footer {
  width: 100%;
  height: 70px;
  background-color: rgb(18, 121, 111);
}




/* comment */
